/* Header */
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header__inner {
  height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__block {
  width: 20%;
}

.header__logo {
  width: 60px;
  justify-content: flex-start;
}

.header__img {
  border-radius: 10px;
  transition: transform .4s;
}

.header__img:hover {
  transform: scale(1.1);
}

.header__img:active {
  transform: scale(0.9);
}

/* Nav */

.nav {
  display: flex;
}

.nav__link {
  margin-right: 40px;


  color: var(--text-color);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  position: relative;
}

.nav__link:last-child {
  margin-right: 0;
}

.nav__link::after {
  width: 100%;
  height: 2px;
  background-color: var(--text-color);
  position: absolute;
  top: 140%;
  left: 0;
  content: '';
  opacity: 0;
  transition: opacity .2s ease-in;
}

.nav__link:hover:after {
  opacity: 1;
}


.nav__link-active::after {
  width: 100%;
  height: 2px;
  background-color: var(--text-color);
  position: absolute;
  top: 140%;
  left: 0;
  content: '';
  opacity: 1;
  transition: opacity .2s ease-in;
}